# Copie para .env e ajuste conforme sua máquina
# cp .env.example .env

POSTGRES_USER=vettrace
POSTGRES_PASSWORD=vettrace
POSTGRES_DB=vettrace

# Use 5433 se você já tem PostgreSQL instalado na 5432
POSTGRES_PORT=5432

# Backend Flask
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=troque-em-producao
DATABASE_URL=postgresql://vettrace:vettrace@localhost:5432/vettrace